<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>简历 | <%- theme.name%></title>
    <link href="css/default.css" rel="stylesheet">
</head>
<body>
<div class=content>
    <div class=content-bd>
        <div class=content-left>

            <section class=project>
                <header class=section-hd>
                    <span class=section-title-l></span>
                    <h2 class=section-title>项目经验</h2>
                    <span class=section-title-r></span>
                </header>
                <div class=section-bd>
                    <% for(var i in theme.project){%>
                        <div class=item>
                            <header class=item-hd>
                                <span class=item-time><%- theme.project[i][0]%></span>
                                <a class="btn item-more"  href="<%- url_for(theme.project[i][2]) %>" target=_blank><%- theme.project[i][1]%></a>
                                <h3 class=item-name><%= i%></h3>
                            </header>
                            <div class=item-bd>
                                <p class=section-content>
                                    <%- theme.project[i][3]%>
                                </p>
                            </div>
                        </div>
                    <%}%>
                </div>
            </section>

            <section class=skill>
                <header class=section-hd>
                    <span class=section-title-l></span>
                    <h2 class=section-title>专业技能</h2>
                    <span class=section-title-r></span>
                </header>
                <div class=section-bd>
                    <ul class=section-list>
                        <%for(var j in theme.skill){%>
                            <li><p class=section-content><i class="iconfont icon-dot"></i><%- theme.skill[j]%></p></li>
                        <%}%>
                    </ul>
                </div>
            </section>
        </div>
        <header class="content-right content-hd">

            <section class=title>
                <img class=avator src="<%- theme.avator%>">
                <div class=name>
                    <h1><%- theme.name%></h1>
                </div>
               <h2 class="job"><%- theme.objective%></h2>
            </section>

            <section class=info>
                <h2><%- theme.sex%> / <%- theme.birthday%></h2>
                <h3><%- theme.university%> · <%- theme.profession%></h3>
                <h3><%- theme.status%> / <%- theme.graduation%>毕业</h3>
            </section>

            <!-- <section class="skill-level">
                <h3>Java</h3>
                <div class="item i-html">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>Android</h3>
                <div class="item i-css">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>MySQL</h3>
                <div class="item i-js">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>Git</h3>
                <div class="item i-sass">
                    <i class="in"></i><i class="out"></i>
                </div>
                <h3>PhotoShop</h3>
                <div class="item i-ps">
                    <i class="in"></i><i class="out"></i>
                </div>
            </section> -->

            <section class=contact>
                <ul>
                    <li>
                        <a href="http://<%- theme.blog%>" >
                            <i class="iconfont icon-homepage"></i>
                            <span class=contact-link><%- theme.blog%></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://<%- theme.github%>" target=_blank>
                            <i class="iconfont icon-github"></i>
                            <span class=contact-link><%- theme.github%></span>

                        </a>
                    </li>
                    <li>
                        <a href="#" >
                            <i class="iconfont icon-email"></i>
                            <span class=contact-link><%- theme.email%></span>

                        </a>
                    </li>
                    <li>
                        <a href="#"  >
                            <i class="iconfont icon-phone"></i>
                            <span class=contact-link><%- theme.phone%></span>
                        </a>
                    </li>
                </ul>
            </section>
        </header>

    </div>
</div>
 

</body>

</html>